body {
    background-color: white;
}

section {
    width: 40%;
	float: left;
	margin: 20px;
}

fieldset {
	border: 0;
    border-top: solid #f8ac19;
    border-bottom: solid #f8ac19;
}

legend{
	font-size: 20px;
	color: #f8ac19;
	margin: 0px 0px 0px -13px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    border-bottom: 1px solid #dae9f4;
	padding: 3px ;
}

legend, a, .destinationName, .moreHotels{
    font-weight: bold;
	font-family: Arial;
}

a{
	font-size: 13px;
	text-decoration: none;
}

.destinationName, .moreHotels{
	font-size: 15px;
}

button {
    width: 13px;
	height: 13px;
	border: none;
	background-repeat: no-repeat;
    background-position: center; 
	vertical-align: middle;
}

.increaseRoomNumber{
	background-image: url(../assets/icon-add.png);
}

.decreaseRoomNumber{
	background-image: url(../assets/icon-remove.png);
}

#firstDestination, #secondDestination, #thirdDestination{
	background-color: #dae9f4; 
	margin: 5px -10px 5px -10px;
	padding: 5px ;
}

a, .destinationName, .hotelName{
	color: #5b99dd;
}

.reservedHotelName{
	color: #5b99dd;
	font-family: Arial;
	font-size: 13px;
}

.reservedHotelNights{
	color: #5b99dd;
	padding: 0px 0px 0px 15px;
}

.reservedHotelPrice{
	color: #008800;
    font-weight: bold;
	text-align: right;
}

.reservedHotelNights{
	padding-left: 30px; 
}

.moreHotels{
	color: #8c8c8c;
	padding-left: 10px; 
}

.reservedHotelNights, .hotelName{
	font-family: Arial;
	font-size: 13px;
}

#totalPrice, .hotelPrice, .currency{
	color: #008800;
    font-weight: bold;
}

.currency{
	text-align: right;
}

#totalPriceModule {
    font-family: Arial;
	padding: 5px 15px 0px 0px;
	float: right;
}

#totalPriceText{
	font-size: 18px;
	color: #f8ac19;
}

#seeMoreHotels{
    padding: 5px;
	float: right;
}
